### 專案設定
APP_ENV=local
APP_DEBUG=true
APP_KEY=SomeRandomString

### 資料庫設定
DB_HOST=localhost
DB_DATABASE=homestead
DB_USERNAME=homestead
DB_PASSWORD=secret

CACHE_DRIVER=file
SESSION_DRIVER=file

### 郵件設定
MAIL_DRIVER=smtp
MAIL_FROM_ADDRESS=(null)
MAIL_FROM_NAME=(null)
MAIL_PRETEND=false      # 若為true，則以寫入log代替實際寄信

### SMTP設定
SMTP_HOST=smtp.mailgun.org
SMTP_PORT=587
SMTP_USERNAME=(null)
SMTP_PASSWORD=(null)

### Pixabay API設定
### 請至網站註冊取得，否則沒有貓貓圖
### http://pixabay.com/api/docs/
PIXABAY_USERNAME=(null)
PIXABAY_KEY=(null)
