APP_ENV=local
APP_DEBUG=true
APP_KEY=SomeRandomString

DB_HOST=localhost
DB_DATABASE=homestead
DB_USERNAME=homestead
DB_PASSWORD=secret

CACHE_DRIVER=file
SESSION_DRIVER=file

MAIL_DRIVER=smtp
MAIL_FROM_ADDRESS=(null)
MAIL_FROM_NAME=(null)
MAIL_PRETEND=false

SMTP_HOST=smtp.mailgun.org
SMTP_PORT=587
SMTP_USERNAME=(null)
SMTP_PASSWORD=(null)
