/vendor
/node_modules
.env
composer.lock
.DS_Store
Thumbs.db

### Intellij ###
# Covers JetBrains IDEs: IntelliJ, RubyMine, PhpStorm, AppCode, PyCharm
*.iml
## Directory-based project format:
.idea/

## File-based project format:
*.ipr
*.iws

## Plugin-specific files:

# IntelliJ
out/

# github auto pull
## Do not try it :)
_github.php

