/* 當表格太窄時，會切換顯示模式，改成兩行，左邊是標題，右邊是內容 */
@media
only screen and (max-width: 479px) {

    /* Force table to not be like tables anymore */
    .noMoreTable table, thead, tbody, th, td, tr.classData {
        display: block;
    }

    /* Hide table headers */
    .noMoreTable thead tr.classData {
        display: none;
    }

    .noMoreTable tr.classData {
        border: 1px solid #ccc;
    }

    .noMoreTable tr:not(.classData) {
        display: none;
    }

    .noMoreTable td {
        /* Behave  like a "row" */
        border: none;
        position: relative;
        padding-left: 40% !important;
        white-space: normal;
        text-align: left;
    }

    .noMoreTable td:before {
        /* Now like a table header */
        position: absolute;
        /* Top/left values mimic padding */
        top: 6px;
        left: 6px;
        width: 45%;
        padding-right: 10px;
        white-space: nowrap;
        text-align: left;
    }

}
